


Bibliography

  [1] Baker, M. (1994): In Other Words: A Course Book on Translation. London, New York: Routledge. 


  [2] Halliday, M. A. K. (1985): An Introduction to Functional Grammar. London: Edward Arnold. 


  [3] Han, S.: Free Google Translate API for Python. Available on https://pypi.org/project/googletrans/. Last accessed at 15. August 2019.


  [4] Hosseini-Maasoum, S. M. / Mahdiyan, M. (2012): Punctuation in Translation: The Unseen Side of the Coin. Mediterranean journal of social sciences, 3(11):25–32. 


  [5] Kirkman, J. (2006): Punctuation Matters: Advice on Punctuation for Scientific and Technical Writing. Routledge study guides. Routledge. 


  [6] Kobus, N. (2006): Hard cover: Gedichte. Ardey Verlag, Münster. 


  [7] Lyrikline Literaturwerkstatt Berlin: Lyrikline: listen to the poet. Available on www.lyrikline.org. Last accessed at 03. September 2019.


  [8] Newmark, P. (1988): A Textbook of Translation. Prentice Hall. 


  [9] Papineni, K. / Roukos, S. / Ward, T. / Zhu, W-J (2002): BLEU: A Method for Automatic Evaluation of Machine Translation. In Proceedings of the 40th Annual Meeting on Association for Computational Linguistics, ACL ’02, pages 311–318, Stroudsburg, PA, USA. Association for Computational Linguistics. 


  [10] Shiyab, S. M. (2017): Translation: Concepts and Critical Issues. Garant Publishers. 


  [11] Wesling, D. (1996): The Scissors of Meter: Grammetrics and Reading. University of Michigan Press.



